# bookie-emulator environment variables
PORT=8005
LOG_LEVEL=info
DATABASE_URL=postgres://bookiebreaker:localdev@localhost:5432/bookiebreaker?search_path=emulator
REDIS_URL=redis://localhost:6379
LINES_SERVICE_URL=http://localhost:8001
STATISTICS_SERVICE_URL=http://localhost:8002
